{% extends 'index.html' %} 
{% load static %} 

{% block title %} 
    Register 
{% endblock %} 


{% block content %}
{% if user.is_authenticated %}
    <h1>You are already signed in.</h1>
{% else %}
    <div class="form-group" id="register-form">
        <form action="" method="POST">
            <h2 class="text-center">Please Register</h2>
            <hr>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100">Submit</button>
        </form>
    </div>  
    <p class="text-center mt-3">Already have an account?  <span><a href="{% url 'loginUser' %}">Login</a></span></p>
{% endif %}
        {% for message in messages %}
            {{ messages }}
        {% endfor %}
{% endblock %}
